footer#mobile_footer{
  width:100%;
  background:#f6f6f6;
  padding:16px;
  box-sizing:border-box;
  margin-top:40px;
}
p#footer_title{
  font-family:'Playfair Display';
  font-weight:500;
  font-size:14px;
  color:#777;
}
ul#footer_info_list{
  margin-top:20px;
}
ul#footer_info_list li{
  color:#888;
  font-size:12px;
  line-height:18px;
}
p.footer_copy{
  font-size:12px;
  color:#888;
  margin-top:20px;
}
ul#footer_menu_list{
  width:80%;
  margin-top:20px;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-between;
}
ul#footer_menu_list li:nth-child(3) button{
  font-weight:500;
}
ul#footer_menu_list li button{
  background:none;
  border:none;
  font-size:12px;
  color:#666;
}

