section#best_wrap{
  width:100%;
  height:auto;
  box-sizing:border-box;
  padding:0px 16px;
  margin-bottom:45px;
}
p#best_title{
  font-size:18px;
  text-align:center;
  margin-bottom:10px;
}
p.best_text{
  font-size:12px;
  color:#999;
  text-align:center;
  margin-bottom:20px;
}
ul#best_prd_list{
  overflow:hidden;
}
ul#best_prd_list li{
  width:48%;
  height:auto;
  float:left;
  margin-right:4%;
  margin-bottom:26px;
  
}
ul#best_prd_list li:nth-child(2n){
  margin-right:0px;
}
p.best_caption{
  color:#315eff;
  margin-bottom:8px;
  font-size:11px;
}
p.best_prd_img{
  margin-bottom:10px;
}
p.best_prd_img img{
  display:block;
  width:100%;
}
p.best_prd_title{
  text-align:center;
  font-size:14px;
  color:#1b2430;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  margin-bottom:8px;
}
p.best_prd_price{
  text-align:center;
  font-size:13px;
  color:#1b2430;
}
p.view_all_btn{
  text-align:center;
}
p.view_all_btn button{
  background:none;
  border:none;
  font-size:14px;
  color:#1b2430;
}
p.view_all_btn button span{
  margin-left:6px;
}